<main class="flex items-center flex-1 container pt-8 pb-16 px-4 sm:px-6 lg:px-8 h-[80%]">
  <div class="flex flex-col items-center text-center max-w-3xl mx-auto py-12">
    <h1 class="text-3xl font-bold tracking-tight mb-8 bg-clip-text text-transparent bg-web3-gradient">
      Escolha sua função
    </h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-20 w-full max-w-2xl">
      <app-role-card
      icone="pi-shield"
      titulo="Locador"
      descricao="Gerencie suas propriedades, crie contratos e acompanhe pagamentos."
      role="locador"
      ></app-role-card>
      <app-role-card
      icone="pi-lightbulb"
      titulo="Locatário"
      descricao="Visualize seus contratos e faça pagamentos de aluguel facilmente."
      role="locatario"
      ></app-role-card>
    </div>
  </div>
</main>

